body {
  margin-top: 10px;
}

a {
  cursor: pointer;
}

.modal-backdrop {
  bottom: 0;
}

textarea {
  resize: none;
}

textarea.form-control {
  height: 400px;
}

.bottom-menu > a {
  margin-left: 5px;
}
