<div class="form-wrapper">
  <form class="form" ng-submit="signin.signin()">
    <div class="form-group">
      <label for="username">Username: </label>
      <input type="text" required class="form-control" placeholder="Username" ng-model="signin.username">
    </div>
    <div class="form-group">
      <label for="password">Password: </label>
      <input type="password" class="form-control" required placeholder="Password" ng-model="signin.password">
    </div>
    <button type="submit" class="btn btn-primary">Sign in</button>
  </form>
</div>
